*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    background-color: #dfdbdb;
    /* background-image: linear-gradient(to bottom,#a82727 20%, rgb(0, 0, 0) 100%);  */
}


.sideBar{
    /* background-image: linear-gradient(to bottom,#ae8888 20%, rgb(0, 0, 0) 100%);  */
    background-color: #ae888844;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    transition: all 0.5s ease;
    padding: 3.5rem 0rem 3rem 1rem;
    font-size: large;
    z-index: 1000;
}
.sideBar.active ~ .mainPage{
left: 250px;
width: calc(100% - 250px);
}
.sideBar.active{
    width: 250px;
}

.sideBar #menuBar{
    position: absolute;
    top: 2rem;
    left: 50%;
    font-size: 1.4rem;
    transform: translateX(-50%);
    line-height: 60px;
    cursor: pointer;
}

.sideBar.active #menuBar{
    left: 90%;
}

.sideBar ul li{
    list-style: none;
    padding: 0.2rem;
    width: 90px;
    height: 50px;

}
.sideBar ul{
    margin-top: 4rem;
}


.sideBar ul li a{
text-decoration: none;
color: black;
font-weight: bold;
display: flex;
align-items: center;
border-radius: 0.8rem;
}
.sideBar ul li a:hover{
    color: #ae8888;
    width: 10rem;
    height: 2rem;
    background-color: white;
}
.sideBar ul li a i{
    text-align: center;
min-width: 50px;
height: 30px;
padding-top: 0.8rem;
}
.sideBar .navBar{
    opacity: 0;
}
.sideBar.active .navBar{
    opacity: 1;
}


.sideBar ul li .navTip{
position: absolute;
left: 100px;
margin-top: -2.5rem; 
z-index: 1;
opacity: 0;
}

.sideBar ul li:hover .navTip{
opacity: 1;
width: 5.5rem;
height: 4rem;
padding-top: 1rem;
border-radius: 50%;
text-align: center;
 background-color: #ae8888f6;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.87);
} 

.sideBar.active ul li:hover .navTip{
display: none;
}



.mainPage{
    position: relative;
    top: 0;
    left: 80px;
    width: calc(100% - 80px);
    /* padding-left: 1rem; */
    transition: all 0.5s ease;
}

 strong{
color: #d13131;
font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.logoName h1{
   font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  padding-top: 0.2rem;
}

.HeadDiv{
    display: flex;
    justify-content: space-around;
    height: 6rem;
    width:calc(100% - 80px);
    width: 100%;
    border-style: groove;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding: 1.3rem 2rem 1rem 0rem;

}
.Search{
  margin-top: 0.8rem;
}
#inputSearch{
  width: 17rem;
  height: 2rem;
}
.searchButton{
  width: 2rem;
  height: 2rem;
}


 ::placeholder{
  font-size: medium;
 }
 input{
  /* padding-left: 1rem; */
  text-indent: 1rem;
 }

.midPage{
height: calc(100vh - 6rem);
z-index: 0;
/* width: calc(100% - 80px); */
}
.sideBar.active .midPage{
  left: 250px;
  width: calc(100% - 250px);
}


  
  .sectionOne{
    width: 100%;
    height: 200vh;
  }

  .Container{
    width: calc(100% - 80px);
    transition: all 0.5s ease;
    position: relative;
    top: 0;
    left: 80px;

  }
  .sideBar.active ~ .Container{
    left: 250px;
    width: calc(100% - 250px);
    }
b{
    background-color: red;
    position: absolute;
    
}
.Title h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 2rem;
}

/* 
.cartTable{
    overflow-x: auto;
}

.cartTable table{
    width: calc(100% - 80px);
    border-collapse: collapse;
    table-layout: fixed;
    margin-left: 4rem;
    white-space: nowrap;
}
.cartTable table thead{
    font-weight: 700;
}

.cartTable table thead td{
    background-color: #d13131;
    border: none;
    padding: 7px 0;
}
.images{
width: 6rem;
height: 6rem;
object-fit: cover;
}
.inputEdit{
    width: 25%;
    padding-left: 1px;
}
.cartTable table td{
    border: 1px solid rgba(220, 20, 60, 0.705);
    text-align: center;
} 
 .cartTable table td:nth-child(1){
width: 100px;
/* height: 5.5rem; */
/* 
}
.cartTable table td:nth-child(2),
.cartTable table td:nth-child(3){
    width: 200px;
    }
    .cartTable table td:nth-child(4),
.cartTable table td:nth-child(5),
.cartTable table td:nth-child(6){
    width: 150px;
    }

.cartBottom{
    margin-top: 5rem;
}
.couponContainer{
    display: flex;
    justify-content:space-evenly;
}

.couponContainer .coupon{
    border: 1px solid rgba(220, 20, 60, 0.705);
    height: 8rem;
    width: 30rem;
    padding-bottom: 0.5rem;
}

.couponContainer .coupon, p, input{
margin: 0.5rem 0rem 0.5rem 1rem;
}
.totCart{
    border: 1px solid rgba(220, 20, 60, 0.705);
    height: 15rem;
    width: 34rem;
}

.couponContainer .totCart h3{
    background-color: #d13131;
    border: none;
    padding-left: 0.5rem;
}
.totCart button{
    display: flex;
    justify-content: center;
    margin: 1rem 2rem 2rem auto;
    background-color: #d13131;
    height: 3rem;
    /* text-align: center; */
    /* padding: 0.5rem;
    font-size: medium;
}

.cartBottom .couponContainer .coupon h3{
background-color: #d13131;
margin-top: 0 12px 20px 0;
    border: none;
    padding: 7px 12px;
}

.subTot{
    display: flex;
    justify-content: space-between;

}

.subTot h4,
.subTot h5{
    font-size: medium;
    margin: 0.5rem;
} */ 

/* hr{
    width: 4rem;
    margin-left: 0.5rem;
} */


footer{
  padding: 7rem 1rem;
  background-color: #ae888844;
  margin-top: 15rem;
}
footer .row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100rem;
  margin: 0 auto;
  padding-left: 8rem;
}
footer .col{
  margin-right: 3rem;
}

.iconCol{
  padding: 0.7rem;
}

footer .col:last-child{
flex-direction: row;
justify-content: center;
}
footer .col h4{
  font-size: xx-large;
  font-weight: bold;
}


footer .col a{
  color: #ae8888;
  font-size: large;
  font-weight: bold;
  padding: 0.5rem;
  display: flex;
}








.quantity{
    background-color: rgb(250, 13, 13);
    color: #fff;
    border-radius: 50%;
    padding: 0 5px;
    position: absolute;
    left: 10px;
}

.cart{
    height: 100vh;
    background-color: #453e3bab;
}
.cart h3{
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    color: #fff;
    background-color: brown;
    height: 6rem;
    padding-top: 1.5rem;
    
}
.cart .check{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: large;
}
.cart .check div{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    background-color: brown;
    color: #dfdfdf;

}
.productIcons li{
    width: 5rem;
    height: 5rem;
}


.cart .check .close{
    background-color: #cfc3c3c7;
    color: brown;
}

.check .proceedDiv{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-left: 7rem;
}
.check .proceedDiv a{
    color: #fff;
    text-decoration: none;
}
.check .proceedDiv a:hover{
    color: #050505;
    font-weight: bolder;
}



.active .cart{
    left: calc(100% - 400px);
}
.prodList{
    padding: 15px;
    height: auto;
}
.prodList li{
    display: grid;
    grid-template-columns: 120px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid ;
}

.prodList li img{
    width: 70px;
    height: 70px;
    background-color: #dfdfdf;

}
.prodList li div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.prodList li button{
width: 25px;
height: 25px;
border-radius: 50%;
border: none;
outline: none;
margin-left: 0.5rem;
margin-right: 0.5rem;
cursor: pointer;
}
